.nav-ele a{
    
   text-align: center;
   color: rgb(47, 157, 60);
text-decoration: none;
padding: 10px;
justify-content: center;
justify-items: center;

}

.nav-ele a:hover{
    
   text-align: center;
   color: rgb(11, 114, 23);
text-decoration: none;

}
.logout{
   
   color: white !important;
   background-color: brown;
   padding: 1px;
   border-radius: 5px;
}  
.logout:hover{
    background-color: red !important;
} 
.nav-ele {
    display: flex;
    justify-content: center;
    text-align: center;
}
body>div{
    background-color: aqua;
}