<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOW</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>INDETAIL POST</h1>
    <p>POST ID: <%=post.id %></p><br><br>
    <div class="post">
        <h3>@<%=post.username%></h3>
        <h3><%=post.content%></h3>
    </div>

</body>
</html>