*{
    margin: 0;
    padding: 0;
}

.main_box{
   background: url(photo.jpg);
   height: 100vh;
   background-size: cover;
   
}

.btn_one{
    color: white;
    font-size: 30px;
    position: absolute;
    left: 20px;
    line-height: 60px;
    font-weight: 700;
    cursor: pointer;
}

.sidebar_menu{
 position: fixed;
 left: -350px;
 height: 100vh;
 width: 300px;
 background-color: rgba(255, 255, 255,0.1);
 box-shadow: 0 0 6px rgba(255, 255, 255,0.5);
 text-decoration: none;
 transition: all 0.2 linear;
}
.sidebar_menu .logo
{
    position: absolute;
    width: 100%;
    line-height: 60px;
    top: 10px;
}
.sidebar_menu .logo a{
    position: absolute;
   display: flex;
   right: 90px;
    color: beige;
    text-decoration: none;
    line-height:30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 23px;
    letter-spacing: 2px;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}
.menu a{
    color: rgb(224, 224, 202);
    text-decoration: none;
    line-height: 60px;
    cursor: pointer;
}
.sidebar_menu .social_media {
    
 
   color: rgb(151, 233, 233);
   bottom: 40px;
   opacity: 0.4;
   position: absolute;
   

}
.sidebar_menu .menu{
    position: absolute;
    width: 100px;
    padding-top: 100px;

}
.sidebar_menu .btn_two i{
    color: grey;
    font-size: 20px;
    line-height: 60px;
    position: absolute;
    left: 240px;
    cursor: pointer;
}

.sidebar_menu .menu i{
  
    
    margin-right: 10px;
    justify-content: right;
    text-align: center;
    color: rgb(161, 161, 127);
    text-decoration: none;
    line-height: 40px;
}

.sidebar_menu .menu li:hover{
    box-shadow: 1px 4px rgba(255, 255, 255,0.5);

    }

    .btn_one i:hover{
        font-size: 40px;
    }
    .btn_two i:hover{
        font-size: 30px;
        
}
#check{
    display: none;
}

#check:checked ~ .sidebar_menu{
    left: 0;
   
}
#check:checked ~.btn_one{
    opacity: 0;
}

